/* --------------------------
  # COLORS
----------------------------*/
.green {
  color: green;
}
.blue {
  background-color: rgb(30, 136, 196) !important;
}



/* --------------------------
  # CSS HACKS
----------------------------*/
.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}





/* --------------------------
  # FOUR SQUARE PANELS
----------------------------*/
.boxgallery .bg-tile {
  cursor: pointer;
}
.boxgallery .bg-tile:hover {
  opacity: 0.8;
}

.boxgallery .panel .label-panel {
  width: 50%;
  height: 50%;
  color: #fff;
  margin: 0 auto;
  top: 40%;
  position: relative;
  text-align: center;
}
  .boxgallery .panel .label-panel i {
    font-size: 3em
  }




/* --------------------------
  # FULL PAGE
----------------------------*/
.fullpage{
  width: 100%;
  height: 100%;
  position: fixed;
}

.fullpage .full-page-content {
  color: #fff;
  width: 970px;
  margin: 0 auto;
  top: 40%;
  position: relative;
}
  .fullpage .full-page-content .col{
    width: 50%;
    float: left;
  }
  .fullpage .full-page-content .col-left{
    text-align: right;
  }

.fullpage .back-home {
  position: fixed;
  right: 40px;
  top: 40px;
  color: rgb(225, 200, 38);
  cursor: pointer;
  width: 25px;
  height: 25px;
  border: 2px solid rgb(225, 200, 38);
  padding: 8px 8px 10px 10px;
  font-size: 25px;
}

.fullpage .back-home:hover {
  color: rgb(156, 138, 23);
  border: 2px solid rgb(156, 138, 23);
}




  /* --------------------------
  # MORPH CONTENT CUSTOM
----------------------------*/
.morph-content span.sub-edit {
  cursor: pointer;
}
.morph-content span.sub-edit-big {
  cursor: pointer;
  width: auto; 
  display: inline-block;
  margin-left: 12px;
}
.morph-content span.sub-edit-big.nocursor {
  cursor: default;
}

.morph-button.open .content-style-form-1 h2{
  padding-top: 2em;
} 

.morph-button.open .content-style-form-1 h2 span.btn{
  float: right;
  font-size: 12px;
  padding: 4px;
  margin-right: 10px;
  background-color: rgb(255, 83, 83);
  color: #fff;
  font-weight: normal;
  cursor: pointer;
}

.morph-content .wrap-message {
  height: 25px;
}

.morph-content form {
  padding: 0px 30px 10px 30px;
}

.morph-content input[type="text"] {
  padding: 6px !important;
  font-size: 1.6em !important;
}

.morph-content .alert-message {
  padding: 10px 30px;
  margin-top: 10%;
}
.morph-content .success-message {
  padding: 1px 30px;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
}
.morph-content .loader {
  font-size: 30px;
  width: 30px;
  height: 30px;
  margin: 20% auto 0;
}

/* Form elements*/

.morph-content button.sideinput {
  width: 30%;
  float: left;
  margin-top: 0;
  padding: 10px;
  margin-left: 10px;
}
.morph-content input.inputwithbtn {
  width: 60% !important;
  float: left;
}
.morph-content .wrap-btn{
  width: 90%;
  margin-left: 4%;
  cursor: pointer;
}
  .morph-content .wrap-btn button{
    padding: 1em !important;
    margin-top: 12px;
  }





  /* --------------------------
  # TATTOO LIST
----------------------------*/
.tattoList-wrapper {
  height: 380px;
  overflow-y: scroll;
  margin-top: 10px;
}
ul.tattooList {
  list-style: none;
  padding: 0 32px 0px 24px;
}
  
  ul.tattooList li {
    float: left;
    width: 100%;
    background-color: rgb(177, 219, 255);
    padding: 0px 0px 0px 10px;
    margin-top: 6px;
  }

    ul.tattooList li p {
     float: left;
     width: 76%;
     text-transform: uppercase;
     font-weight: bold;
    }

    ul.tattooList li span {
     float: left;
     width: 20%;
     font-size: .8em;
     padding: 20px 0px 0px;
    }
    ul.tattooList li span.fullwidth{
      width: 100%;
      padding: 0px 0px 10px;
    }





/* --------------------------
  # GALLERY NEWS
----------------------------*/

.news-gallery {
  height: 500px;
  overflow-y: scroll;
  margin-top: 10px;
}
  .news-gallery ul{
    list-style: none;
  }
    .news-gallery ul li{
      position: relative;
      width: 92%;
      display: inline-block;
      padding: 4px;
      margin: 10px 0 0 4px;
      background-color: black;
      cursor: pointer;
    }
      .news-gallery ul li img{
        max-width: 20%;
      }
      .news-gallery ul li.selected{
        opacity: .4;
        background-color: gray;
      }
      .news-gallery ul li p{
        color: #6d6d6d;
        font-size: 10px;
        padding-right: 10px;
        display: inline-block;
        float: right;
      }
      .news-gallery ul li .delete-picture {
        left: -20px;
        position: absolute;
        top: 6px;
        z-index: 999;
      }

.news-preview {
  width: 90%;
  margin-left: 4%;
  height: 388px;
  overflow-y: scroll;
  margin-bottom: 12px;
  margin-top: 12px;
}
  .single-news-thumb-cont{
    width: 60%;
    background-color: black;
  }
    .single-news-thumb-head{
      padding: 0px 10px;
      position: relative;
      background-color: #1a1a1a;
    }
      h3.single-news-thumb-h3{
        padding: 10px; 
        color: #9c9c9c;
        font-size: 18px;
      }
    .thumb-wrap{
      padding: 0px 10px 4px;
      height: 200px;
      overflow: hidden;
    }
      .thumb-wrap img{
        max-width: 100%;
        margin-bottom: 12px;
      }
    .single-news-thumb-p{
      padding: 12px;
      color: #9e9e9e;
      font-size: 12px;
    }






/* --------------------------
  # UPLOAD BUTTON
----------------------------*/
#upload-wrapper {
  width: 86%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  background: transparent;
  color: white;
  padding: 6px 6px 0px;
  height: 0px;
  overflow: hidden;
  -webkit-transition: height 1s, background-color 1s;  /* For Safari 3.1 to 6.0 */
    transition: height 1s, background-color 1s;
}
  .show_upload_wrapper{
    height: 120px !important;
    background: rgb(255, 83, 83) !important;
    
  }
#upload-wrapper h3 {
  padding: 0px 0px 10px 0px;
  margin: 0px 0px 20px 0px;
  margin-top: -30px;
  border-bottom: 1px dotted #DDD;
}
#upload-wrapper input[type=file] {
  padding: 6px;
  background: #FFF;
  border-radius: 5px;
  color: rgb(255, 83, 83)
}
#upload-wrapper #submit-btn {
  border: none;
  padding: 10px;
  background: rgb(30, 136, 196);
  color: #FFF;
}
#output{
  padding: 5px 5px 15px 30px;
  font-size: 12px;
  color: white;
}

/* prograss bar */
#progressbox {
  border: 1px solid white;
  padding: 1px; 
  position:relative;
  width:400px;
  border-radius: 3px;
  margin: 10px 10px 10px 30px;
  display:none;
  text-align:left;
}
#progressbar {
  height:20px;
  border-radius: 3px;
  background-color: rgb(30, 136, 196);
  width:1%;
}
#statustxt {
  top:3px;
  left:50%;
  position:absolute;
  display:inline-block;
  color: #FFFFFF;
}





/* --------------------------
  # ANIMATION
----------------------------*/
.rotate {
  -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
      animation:spin 4s linear infinite;
   
  /*overflow:hidden;*/
}  
 
-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
