/* --------------------------
  # COLORS
----------------------------*/
.green {
  color: green;
}



/* --------------------------
  # CSS HACKS
----------------------------*/
.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}




/* --------------------------
  # FOUR SQUARE PANELS
----------------------------*/
.boxgallery .bg-tile {
  cursor: pointer;
}
.boxgallery .bg-tile:hover {
  opacity: 0.8;
}

.boxgallery .panel .label-panel {
  width: 50%;
  height: 50%;
  color: #fff;
  margin: 0 auto;
  top: 40%;
  position: relative;
  text-align: center;
}
  .boxgallery .panel .label-panel i {
    font-size: 3em
  }




/* --------------------------
  # FULL PAGE
----------------------------*/
.fullpage{
  width: 100%;
  height: 100%;
  position: fixed;
}

.fullpage .full-page-content {
  color: #fff;
  width: 970px;
  margin: 0 auto;
  top: 40%;
  position: relative;
}
  .fullpage .full-page-content .col{
    width: 50%;
    float: left;
  }
  .fullpage .full-page-content .col-left{
    text-align: right;
  }

.fullpage .back-home {
  position: fixed;
  right: 40px;
  top: 40px;
  color: rgb(225, 200, 38);
  cursor: pointer;
  width: 25px;
  height: 25px;
  border: 2px solid rgb(225, 200, 38);
  padding: 8px 8px 10px 10px;
  font-size: 25px;
}

.fullpage .back-home:hover {
  color: rgb(156, 138, 23);
  border: 2px solid rgb(156, 138, 23);
}




  /* --------------------------
  # MORPH CONTENT CUSTOM
----------------------------*/
.morph-content span.sub-edit {
  cursor: pointer;
}

.morph-button.open .content-style-form-1 h2{
  padding-top: 2em;
} 

.morph-button.open .content-style-form-1 h2 span{
  float: right;
  font-size: 12px;
  padding: 4px;
  background-color: rgb(255, 83, 83);
  color: #fff;
  font-weight: normal;
  cursor: pointer;
}

.morph-content .wrap-message {
  height: 25px;
}

.morph-content form {
  padding: 0px 30px 10px 30px;
}

.morph-content input[type="text"] {
  padding: 6px !important;
  font-size: 1.6em !important;
}

.morph-content .alert-message {
  padding: 10px 30px;
  margin-top: 10%;
}
.morph-content .success-message {
  padding: 1px 30px;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
}
.morph-content .loader {
  font-size: 30px;
  width: 30px;
  height: 30px;
  margin: 40% auto 0;
}





  /* --------------------------
  # TATTOO LIST
----------------------------*/
.tattoList-wrapper {
  height: 380px;
  overflow-y: scroll;
  margin-top: 10px;
}
ul.tattooList {
  list-style: none;
  padding: 0 32px 0px 24px;
}
  
  ul.tattooList li {
    float: left;
    width: 100%;
    background-color: rgb(177, 219, 255);
    padding: 0px 0px 0px 10px;
    margin-top: 6px;
  }

    ul.tattooList li p {
     float: left;
     width: 60%;
     text-transform: uppercase;
     font-weight: bold;
    }

    ul.tattooList li span {
     float: left;
     width: 20%;
     font-size: .8em;
     padding: 20px 0px 0px;
    }




/* --------------------------
  # ANIMATION
----------------------------*/
.rotate {
  -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
      animation:spin 4s linear infinite;
   
  /*overflow:hidden;*/
}  
 
-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
