	<!-- <pre>{{tattooData}}</pre> -->
	<div class="col col-left">
		<div class="morph-button morph-button-modal morph-button-modal-2 morph-button-fixed">
	        <button type="button">SkinandInk <i class="fa fa-facebook-square"></i> Like Page</button>
	        <div class="morph-content">
	            <div>
	                <div class="content-style-form content-style-form-1">
	                    <span class="icon icon-close">Close the dialog</span>
	                    <h2>SkinandInk <i class="fa fa-facebook-square"></i> Like Page</h2>
	                    <!-- Update Message -->
	                    <div class="wrap-message">
		                    <div class="success-message" ng-show="successMsg">
		                    	<p ng-bind-html="message_general_info"></p>
		                    </div>
		                </div>
	                    <form ng-repeat="info in studioInfo track by $index" ng-hide="displayForm">
							<p>
								<label for="fb_id">Facebook ID: </label>
								<input type="text" name="fb_id" placeholder="{{info.fb_id}}" disabled="" />
							</p>
							<p>
								<label for="fb_album">Facebook Album ID: </label>
								<input type="text" name="fb_album" placeholder="{{info.fb_album}}" disabled="" />
							</p>
							<p>
								<label for="fb_piercing_album">Facebook Piercing Album ID: </label>
								<input type="text" name="fb_piercing_album" placeholder="{{info.fb_piercing_album}}" disabled=""/>
							</p>
							<p><button ng-click="showForm()"><i class="fa fa-pencil"></i> Edit</button></p>
						</form>
	                    <form ng-repeat="info in studioInfo track by $index" ng-show="displayForm">
							<p>
								<label for="fb_id">Facebook ID: </label>
								<input type="text" name="fb_id" placeholder="{{info.fb_id}}" ng-model="formData.fb_id" ng-click="formData.fb_id=info.fb_id" />
							</p>
							<p>
								<label for="fb_album">Facebook Album ID: </label>
								<input type="text" name="fb_album" placeholder="{{info.fb_album}}" ng-model="formData.fb_album" ng-click="formData.fb_album=info.fb_album" />
							</p>
							<p>
								<label for="fb_piercing_album">Facebook Piercing Album ID: </label>
								<input type="text" name="fb_piercing_album" placeholder="{{info.fb_piercing_album}}" ng-model="formData.fb_piercing_album" ng-click="formData.fb_piercing_album=info.fb_piercing_album"/>
							</p>
							<p>
								<button ng-click="update_general_info()"><i class="fa fa-cloud-upload"></i> Update</button>
							</p>
						</form>
	                </div>
	            </div>
	        </div>
	    </div><!-- morph-button -->
	</div><!-- end col-left -->
	<div class="col column-right">
		<div class="morph-button morph-button-modal morph-button-modal-3 modal-big morph-button-fixed">
	        <button type="button">Tattoist <i class="fa fa-facebook-square"></i> Like Pages</button>
	        <div class="morph-content">
	            <div>
	                <div class="content-style-form content-style-form-1">
	                    <span class="icon icon-close" ng-click="resetForm()">Close the dialog</span>
	                    <h2>Tattoist <i class="fa fa-facebook-square"></i> Like Pages
	                    	<span class="btn" ng-hide="editTattoist" ng-click="addNewTattoist();"><i class="fa fa-plus-square"></i> Add Tattoist</span>
	                    	<span class="btn" ng-show="editTattoist" ng-click="resetForm()"><i class="fa fa-reply"></i> Back to list</span>
	                    </h2>
	                    <!-- Update Message -->
	                    <div class="wrap-message">
		                    <div class="success-message" ng-show="successMsg">
		                    	<p ng-bind-html="message"></p>
		                    </div>
		                </div>
		                <!-- Alert Message -->
	                    <div class="alert-message" ng-show="alertMsg">
	                    	<p>Are you sure you want to delete <strong>{{tattoistName}}</strong> ?</p>
	                    	<button ng-click="confirm_delete();"><i class="fa fa-trash"></i> Delete</button>
	                    </div>
		                <!-- Loader -->
	                    <div class="loader" ng-show="showLoader">
	                    	<i class="fa fa-cog rotate"></i>
	                    </div>
	                    <!-- Display Tattoist -->
	                    <div class="tattoList-wrapper" ng-hide="editTattoist">
		                    <ul class="tattooList clearfix">
		                    	<li ng-repeat="tattoo in tattooInfo | orderBy:'nav_pos'">
									<p ng-bind="tattoo.title"></p>
									<span class="sub-edit-big" ng-click="displayTattoistForm(tattoo.id)"><i class="fa fa-pencil-square-o"></i> Edit</span>
									<span class="sub-edit-big" ng-click="remove_tattoist(tattoo.id, tattoo.title)"><i class="fa fa-trash"></i> Delete</span>
								</li>
							</ul>
						</div>
						<!-- Edit Tattoist -->
	                    <form ng-repeat="tattoo in tattooInfo track by $index" ng-show="tattoo.id == tattooID">
							<p>
								<label for="fb_id">Tattoist Name: </label>
								<input type="text" ng-minlength="1" name="tattoo_name" placeholder="{{tattoo.title}}" ng-model="tattooData.tattoo_name" ng-click="tattooData.tattoo_name=tattoo.title" />
								<p ng-show="noName">Please enter a Tattoist name</p>
							</p>
							<p>
								<label for="fb_id">Facebook ID: </label>
								<input type="text" name="fb_id" placeholder="{{tattoo.fb_id}}" ng-model="tattooData.fb_id" ng-click="tattooData.fb_id=tattoo.fb_id" />
								<p ng-show="noFbID">Please enter a Tattoist Facebook ID</p>
							</p>
							<p>
								<label for="fb_album">Facebook Album ID: </label>
								<input type="text" name="fb_album" placeholder="{{tattoo.fb_album}}" ng-model="tattooData.fb_album" ng-click="tattooData.fb_album=tattoo.fb_album"/>
								<p ng-show="noFbAlbumID">Please enter a Tattois Facebook Album ID</p>
							</p>
							<p>
								<label for="nav_pos">Website Nav Position: </label>
								<input type="text" name="nav_pos" placeholder="{{tattoo.nav_pos}}" ng-model="tattooData.nav_pos" ng-click="tattooData.nav_pos=tattoo.nav_pos"/>
								<p ng-show="noNavPos">Please enter a Tattoist Nav Position</p>
							</p>
							<p>
								<button ng-click="update_tattoo_info()"><i class="fa fa-cloud-upload"></i> Update</button>
							</p>
						</form>
						<!-- Edit Tattoist -->
	                    <form ng-show="addTattoist">
							<p>
								<label for="fb_id">Tattoist Name: </label>
								<input type="text" name="tattoo_name" placeholder="Insert a Tattoist name" ng-model="tattooData.tattoo_name" />
								<p ng-show="noName">Please enter a Tattoist name</p>
							</p>
							<p>
								<label for="fb_id">Facebook ID: </label>
								<input type="text" name="fb_id" placeholder="Insert the Tattoist Facebook ID" ng-model="tattooData.fb_id" />
								<p ng-show="noFbID">Please enter a Tattoist Facebook ID</p>
							</p>
							<p>
								<label for="fb_album">Facebook Album ID: </label>
								<input type="text" name="fb_album" placeholder="Insert the Tattoist Facebook Album ID" ng-model="tattooData.fb_album"/>
								<p ng-show="noFbAlbumID">Please enter a Tattois Facebook Album ID</p>
							</p>
							<p>
								<label for="nav_pos">Website Nav Position: </label>
								<input type="text" name="nav_pos" placeholder="Insert the Tattoist Nav Position" ng-model="tattooData.nav_pos"/>
								<p ng-show="noNavPos">Please enter a Tattoist Nav Position</p>
							</p>
							<p>
								<button ng-click="insert_new_tattoist()"><i class="fa fa-plus-circle"></i> Add New</button>
							</p>
							<div class="alert-message" ng-show="alertMsg">
								<p>Are you sure you want to delete <strong>{{tattoistName}}</strong> ?</p>
								<button ng-click="confirm_delete();"><i class="fa fa-times-circle"></i> Delete</button>
							</div>
						</form>
					</div>
	            </div>
	        </div>
	    </div><!-- morph-button -->
	</div><!-- end col-right -->

